form {
    margin-top: 100px;
}



#headerinnav{
color: whitesmoke;
}

span{
color: aquamarine;
}

#Frontappname{
    text-align: center;
    color: silver;
    font-size: 100px;
    margin-top: 150px;
    transition: 1s all;
}

#Frontappname:hover {
    color: grey;

}

img {
    width: 80%;
    height: 30%;
}

input[type="file"] {
    display: none;
}



#login_reg{
  color: whitesmoke;
}

a{
  text-decoration:none;
}
