.BottomNav p a{
    color: black;
      font-family: tahoma;
      cursor: pointer;
  }
  .BottomNav p {
  text-align: center;


  }

  h1 {

    font-size: 100px;
    margin-top:200px;
    font-family: tahoma;
    color: silver;
}
span{
    color: aquamarine;
}
.col-md-12{
    text-align: center;
}

button{
    font-size: 30px;
    color: aquamarine;
}

