

<div class="container">
  <div class="row">
    <!-- main details of user -->
    <img id="profile-img" src="https://daks2k3a4ib2z.cloudfront.net/55d62f32fa59c51977889877/561d4d3b8cf0398714ac71b5_MM-092714_Avatar.jpg">
    <h1>Elen Bee</h1>
  </div>
<hr>

  <div class="row">

    <div class="col-md-7">
      <!-- add new post from profile -->
        <app-addpost></app-addpost>
        <app-post></app-post>
    </div>
    
    <div class="col-md-5">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Settings</a>
            </li>
          </ul>
    </div>
</div>

<div class="row">
 
    
</div>

<div class="row">
 <hr>
<button class="btn btn-danger">Delete account</button>
</div>